.green-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 10px 35px;
    background-color: #3dd2ae;
    border-radius: 50px;
    font-size: 12px;
    margin-top: 15px;
}
