<section id="features">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <h1>Design & Features</h1>
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium fugit beatae dolorum sequi, aliquam impedit rerum, deleniti, sapiente voluptate hic iusto, voluptates cum. Ducimus sapiente, ab eum, explicabo hic modi.</p>
        <a href="" class="green-btn">See More</a>
      </div>
      <div class="col-4">
        <h1>Pocket Power</h1>
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
        <p>Voluptatem eligendi consectetur unde numquam mollitia cumque quibusdam eius magnam dignissimos, dolor saepe vitae dolorem architecto quas rerum maiores labore! Perspiciatis voluptatem, voluptatum.</p>
        <a href="" class="green-btn">See More</a>
      </div>
      <div class="col-4">
        <h1>Inspired by the World</h1>
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
        <p>Eaque ipsum error iusto, hic necessitatibus voluptate laborum nemo, et id non a similique ipsa atque maiores, esse enim! Odit nam ex consequatur maiores provident quisquam eveniet, repellendus, itaque magnam.</p>
        <a href="" class="green-btn">See More</a>
      </div>
    </div>
  </div>
</section>
