<section id="hero">
  <section id="header" class="container">
      <div class="logo"><img src="assets/Logo.png" alt=""></div>
      <div class="search">
        <input class="search-bar" placeholder="Search website">
          <span><i class="ion-android-search"></i></span>
        </input>
        <a href="">Buy 21$</a>
        <div class="nav">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
  </section>
  <div class="heading col-6">
    <h1>Building bulletproof apps</h1>
    <p>Necessitatibus similique veniam animi facilis atque beatae in, quisquam quia quo excepturi voluptate quas ipsum?</p>
  </div>
</section>
